<article class="homepage-header">
    <section>
      <img class="logo-img" src="/assets/images/logoShort.png" title="Homepage" alt="Homepage"/>
    </section>
    <nav>
      <h3 class="homepage-headline">FLEET MANAGEMENT</h3>
    </nav>
    <section>
      <img class="logo-img" src="/assets/images/logoShort.png" title="Homepage" alt="Homepage"/>
    </section>
    <div class="homepage-nav">
      <a [routerLink]="['/drivers']"><p>BESTUURDERS</p></a>
      <a [routerLink]="['/error']"><p>VOERTUIGEN</p></a>
      <a [routerLink]="['/error']"><p>TANKKAARTEN</p></a>
    </div>
</article>
