.header {
    padding: 2vw;
    margin-top: 1vw;
  }
  
  .header ul {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    justify-content: center;
    align-items: center;
  }
  
  .header a,li {
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5vw;
    color: #7A2048;
  }
  
  .header a:hover,
  .header a.active {
    color: #2494d4;
  }